@{
    ViewData["Title"] = "Home Page";    
       
<div class="container">
    <img src="~/images/boyReading.jpg" alt="Snow" style="width:100%;">
    <div class="centered">Read Your Heart Out</div>
</div>



}
